* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}



.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-bettween {
    justify-content: space-between;
}

/* header */
.header {
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    margin-right: auto;
    margin-left: auto;
}

.container--header {
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 3px;
}

.logo {
    width: 180px;
    margin-right: 21px;
}

.logo img {
    height: 50px;
}


.nav-input {
    gap: 118px;
}

.nav-header {
    gap: 12px;
}

.nav-link {
    font-size: 14px;
    line-height: 21px;
    padding: 3.5px 16px;
    color: rgb(0, 0, 0);
    border: 0.5px solid rgb(229, 231, 235);
    border-radius: 9999px;
    text-decoration: none;
    text-wrap: nowrap;
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.header-search {
    position: relative;
}

.search-input {
    border: 1px solid rgb(229, 231, 235);
    border-radius: 9999px;
    width: 320px;
    height: 30px;
    outline: none;
    padding: 8px 12px;
}

.search-input:focus {
    border: 1px solid rgb(252, 165, 165);
}

.dropdown-search {
    background-color: rgb(255, 255, 255);
    width: 320px;
    height: 80px;
    border-radius: 10px;
    text-align: center;
    padding-top: 30px;
    display: none;
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    position: absolute;
    top: 100%;
}

.header-search:hover .dropdown-search {
    display: block;
}

.nav-link:hover {
    color: #dc2626;
}

.fa-search {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
    color: rgb(229, 231, 235);

}

.fa-search:hover {
    color: rgb(252, 165, 165);
}

.header-function {
    gap: 8px;
    margin-left: 193px;
}

.function-icon {
    width: 40px;
    height: 40px;
    border: 0px solid rgb(229, 231, 235);
    background-color: rgb(243, 244, 246);
    border-radius: 50%;
    padding: 10px;
    object-fit: cover;
    cursor: pointer;
}

/* main */
.container {
    width: 1316px;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    margin-top: 80px;
    height: 390px;
    object-fit: cover;
    margin-bottom: 30px;
    cursor: pointer;
}

.sale {
    gap: 12px;
}

.sale-card {
    position: relative;
    width: 154px;
    cursor: pointer;
}

.sale-card-label {
    background-color: rgba(220, 38, 38, 0.8);
    width: 48px;
    height: 48px;
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 7px;
    top: 7px
}

.sale-card-thumbnail {
    width: 154px;
    height: 154px;
}

.sale-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    text-wrap: nowrap;
    height: 40px;
    padding: 12px;
}

/* section--movie */
.new-content-movie {
    flex-wrap: wrap;
    gap: 12px;
}

.new-card {
    width: 320px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.new-header {
    margin-top: 30px;
    margin-bottom: 8px;
}

.new-card img {
    transition: transform 0.3s;
}

.new-card:hover img {
    transform: scale(1.1);
}

.new-card-info:hover img {
    transform: scale(1.1);
}


.new-title {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: rgb(185, 28, 28);
    font-weight: 400;
    font-size: 25px;
    line-height: 37.5px;
}


.new-card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px;
    color: white;
    height: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.new-card-info:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), #24586C);
}

.new-card:hover .new-card-info {
    background-image: linear-gradient(rgba(0, 0, 0, 0), #24586C);
}

.new-card-label {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.new-card-description {
    display: flex;
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 200;
}

/* collection */
.collection-title {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: rgb(185, 28, 28);
    font-weight: 400;
    font-size: 25px;
    line-height: 37.5px;
    margin-top: 30px;
    margin-bottom: 8px;
}

.collection-content-movie {
    gap: 12px;
}

.card-banner {
    width: 430.663px;
    height: 211.9px;
    object-fit: cover;
    cursor: pointer;
    overflow: hidden;
}

.card-banner img {
    transition: transform 0.3s;
}

.card-banner:hover img {
    transform: scale(1.1);
}

.card-banner-image {
    width: 430.663px;
    height: 211.9px;
}


.collection-card-thumbnail {
    width: 209.325px;
    height: 99.95px;
    object-fit: cover;
    cursor: pointer;
    overflow: hidden;
}

.collection-card {
    flex-wrap: wrap;
    gap: 12px;
}

.collection-card-thumbnail img {
    transition: transform 0.3s;
}

.collection-card-thumbnail:hover img {
    transform: scale(1.1);
}

/* rank */
.rank-title {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: rgb(185, 28, 28);
    font-weight: 400;
    font-size: 25px;
    line-height: 37.5px;
    margin-top: 30px;
    margin-bottom: 8px;
}

.rank-content-movie {
    gap: 12px;
}

.rank-banner {
    width: 430.663px;
    object-fit: cover;
    position: relative;
    cursor: pointer;

}

.rank-banner-number {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 60px;
    line-height: 60px;
    color: rgb(242, 113, 39);
    position: absolute;
    left: 14px;
    top: 15px;
    z-index: 1;
}

.rank-label-banner {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 16px;
    height: 24px;
    color: white;
    left: 14px;
    position: absolute;
    bottom: 5px;
    display: none;
    width: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rank-banner:hover .rank-label-banner {
    display: block;
}

.rank-banner:hover .rank-banner-number {
    top: 5px;
}

.rank-banner-image {
    width: 430.663px;
    height: 247.5px;
    object-fit: cover;
    filter: brightness(80%);
}

.rank-card-thumbnail {
    width: 209.325px;
    height: 117.75px;
    object-fit: cover;
    position: relative;
}

.rank-card-image {
    width: 209.325px;
    height: 117.75px;
    object-fit: cover;
    filter: brightness(80%);
}


.rank-card {
    flex-wrap: wrap;
    gap: 12px;
}

.rank-card-thumbnail {
    cursor: pointer;
}

.rank-number {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 35px;
    line-height: 35px;
    color: rgb(242, 113, 39);
    position: absolute;
    left: 12px;
    top: 12px;
    z-index: 1;
}

.rank-label {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 16px;
    height: 24px;
    color: white;
    left: 14px;
    position: absolute;
    bottom: 5px;
    display: none;
    width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rank-card-thumbnail:hover .rank-label {
    display: block;
}

.rank-card-thumbnail:hover .rank-number {
    top: 5px;
}

/* anime movie */
.content-movie {
    flex-wrap: wrap;
    gap: 12px;
}

.movie-card {
    width: 209.325px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.movie-header {
    margin-top: 30px;
    margin-bottom: 8px;
}

.movie-title {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: rgb(185, 28, 28);
    font-weight: 400;
    font-size: 25px;
    line-height: 37.5px;
}

.movie-new {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 14px;
    line-height: 21px;
    padding: 4px 12px;
    background-color: rgba(220, 38, 38, 0.5);
    border-radius: 12px;
    width: 91.1875px;
    position: absolute;
    top: 12px;
    left: 12px;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.movie-card img {
    transition: transform 0.3s;
}

.movie-card:hover img {
    transform: scale(1.1);
}

.movie-card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px;
    color: white;
    height: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.movie-card:hover .movie-card-info {
    background-image: linear-gradient(rgba(0, 0, 0, 0), #853B22);
}

.movie-card-info:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), #853B22);
}

.movie-card-label {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.movie-card-description {
    display: flex;
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 200;
    margin-top: 6px;
}

.footer {
    height: 96px;
}