* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #242424;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

a {
    text-decoration: none;
}

.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.lexend--100 {
    font-weight: 100;
}

.lexend--200 {
    font-weight: 200;
}

.lexend--300 {
    font-weight: 300;
}

.lexend--400 {
    font-weight: 400;
}

.lexend--500 {
    font-weight: 500;
}

.lexend--600 {
    font-weight: 600;
}

.lexend--700 {
    font-weight: 700;
}

.lexend--800 {
    font-weight: 800;
}

.lexend--900 {
    font-weight: 900;
}

.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lora--100 {
    font-weight: 100;
}

.lora--200 {
    font-weight: 200;
}

.lora--300 {
    font-weight: 300;
}

.lora--500 {
    font-weight: 500;
}

.lora--600 {
    font-weight: 600;
}

.lora--700 {
    font-weight: 700;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-bettween {
    justify-content: space-between;
}

.container {
    width: 1248px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    padding: 32px 96px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
}

.container--header {
    width: 1327px;
    height: 80px;
}

.logo {
    width: 140px;
}

.nav {
    gap: 40px
}

.nav-link {
    font-size: 18px;
    color: #242424;
    text-decoration: none;
    letter-spacing: -0.5px;
    line-height: 27px;
}

.nav-link--button {
    font-size: 16px;
    height: 48px;
    border-radius: 4px;
    background-color: rgb(104, 99, 253);
    padding: 12px 24px;
    color: white;
    width: 119px;
}

/* main */
.section--hero {
    margin-top: 284px;
    margin-bottom: 120px;
}

.hero-content {
    gap: 48px;
}

.hero-imager {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.hero-title {
    font-size: 140px;
    letter-spacing: -3px;
    line-height: 142.8px;
    color: rgb(31, 31, 31);
}

.hero-description {
    font-size: 36px;
    color: #a8a8a8;
    line-height: 45px;
}

/* words */
.section-header {
    margin-bottom: 29px;
    margin-top: 96px;
}


.section-heading {
    font-size: 32px;
    letter-spacing: -0.5px;
    line-height: 48px;
    color: #1f1f1f;
}

.section-content {
    flex-wrap: wrap;
    gap: 70px;
}

.project-card {}

.project-thumbnail {
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 37px;
    cursor: pointer;
}

.project-thumbnail img {
    width: 574px;
    height: 499px;
    object-fit: cover;
    cursor: pointer;
}

.project-time {
    display: inline-block;
    font-size: 16px;
    letter-spacing: -0.25px;
    line-height: 24px;
    color: rgb(168, 168, 168);
    cursor: pointer;
}

.project-title {
    letter-spacing: -0.5px;
    font-size: 24px;
    line-height: 36px;
    color: rgb(31, 31, 31);
    cursor: pointer;
}

.project-description {
    letter-spacing: -0.25px;
    font-size: 20px;
    line-height: 31px;
    color: rgb(168, 168, 168);
    cursor: pointer;
}

/* footer */
.footer {
    padding: 89px 96px;
    margin-top: 160px;
}

.container--footer {
    width: 1327px;
}

.footer-description-link {
    gap: 4px;
}

.footer-description {
    letter-spacing: -0.25px;
    font-size: 16px;
    line-height: 24px;
    color: rgb(184, 184, 184)
}

.footer-link {
    letter-spacing: -0.25px;
    font-size: 16px;
    line-height: 24px;
    color: rgb(104, 99, 253);
    text-decoration: underline;
}

.footer-nav {
    gap: 40px;
}